<nav id="menu">
	<a class="close-button">بستن</a>
	<div class="nav-wrapper">
		<p class="nav-label">منو</p>
		<ul>
			{{#foreach navigation}}
			<li class="nav-{{slug}}{{#if current}} active{{/if}}" role="presentation"><a href="{{url absolute="true"}}">{{label}}</a></li>
			{{/foreach}}
			<li class="nav-rss"><a href="{{@blog.url}}/rss/"><i class="ic ic-rss"></i> آراس‌اس</a></li>
		</ul>
	</div>
</nav>